{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(entries, 'Név', 'e.name') }}</th>
                    <th>{{ knp_pagination_sortable(entries, 'Cím', 'a.address') }}</th>
                    <th>{{ knp_pagination_sortable(entries, 'E-mail cím', 'em.email') }}</th>
                    <th>{{ knp_pagination_sortable(entries, 'Telefon', 'p.phone') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr data-id="{{ entry.id }}">
                        <td>{{ entry.name }}</td>
                        <td>{{ entry.addresses.last.address }}</td>
                        <td>{{ entry.emails.last.email }}</td>
                        <td>{{ entry.phones.last.phone }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="navigation">
            {{ knp_pagination_render(entries) }}
        </div>
    </div>

    <div class="modal fade" id="details-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Bezárás"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Részletek</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Bezárás</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}